.postBlockDisplay {
    border-radius: 2px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
    width: 70%;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.postTitle {
    font-size: 40px;
    font-weight: 700;
    color: #ff9770;
    margin: 0 0 10px;
}

.leftPadding {
    padding-left: 100px;
}

.postImage {
    border-radius: 2px;
    width: 100%;
    background-position: 50%;
    background-size: cover;
    margin: 0 15px 0 0;
    float: left;
    -webkit-box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.2);
    background-color: #fff;
}

.authDiv {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 30%;
    float: right;
}

.authPicture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0,0,0,.4);
    margin: 0 5px;
    margin-bottom: 18px;
}

.postContent {
    float: left;
    margin-top: 60px;
}

.authContentDiv {
    width: 47%;
}

.titleAndImage {
    width: 50%;
}